<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes Page</title>
</head>
<body>
<h3>Recipes!</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Difficulty</th>
        <th>Prep. Time</th>
        <th>Servings</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.difficulty}"></td>
        <td th:text="${recipe.prepTime}"></td>
        <td th:text="${recipe.servings}"></td>
    </tr>
</table>

</body>
</html>